<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>About</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
  </head>
  <body> 
    <h1> Resources: </h1>
    
    <ul>
      <li style="color:rgb(0, 225, 255)">Google Meet</li>
      <br>
      <li style="color:rgb(0, 225, 255)">Discord</li>
      <br>
      <li style="color:rgb(0, 225, 255)">GitHub</li>
      <br>
      <li style="color:rgb(0, 225, 255)">Repl.it</li>
      <br>
      <li style="color:rgb(0, 225, 255)">Google Colab</li>
    </ul>
    <script src="script.js"></script>
  </body>
</html>