<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>About</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
  </head>
  <body> 
    <h1> Resources: </h1>
    
    <ul>
      <li style="color:blue">Google Meet</li>
      <br>
      <li style="color:blue">Discord</li>
      <br>
      <li style="color:blue">GitHub</li>
      <br>
      <li style="color:blue">Repl.it</li>
      <br>
      <li style="color:blue">Google Colab</li>
      <br>
      <li style="color:blue">Medium Website</li>
      <br>
      <li style="color:blue">https://towardsdatascience.com/a-simple-chatbot-in-python-with-deep-learning-3e8669997758</li>
      <br>
      <br>
      <li style="color:red">Please Note that the whole chatbot has not been taken from the website and we have made our own adjustments to the code</li>
    </ul>
    <script src="script.js"></script>
  </body>
</html>