<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Sunchatweb</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
  </head>
  <body> 
    <h1 class="center">Chatbot</h1>
    <p class="center" style="color: rgb(173, 115, 228);">We're making a chatbot for the Congressional App Challenge</p>
    <h2> Team Members: </h2>
    <ul>
      <li><p class="jake">Jake: Setting up the webserver</p></li>  
      <li><p class="shaanKevin">Shaan: Working on the website</p></li>
      <li><p class="arhanRyan">Kevin: Working on the website</p></li>
    </ul>
    <div class="container">
      <form method="post">
          <input class="button button2" type="submit" name="button" value="About">
      </form>
      <form method="post">
        <input class="button button2" type="submit" name="button" value="Enter Chat">
      </form>
  </div>
  </body>
</html>