<!doctype html>
<html>
	<head>
		<title>Chat</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='irc.css') }}">
		<script src="{{ url_for('static', filename='jQuery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='config.js') }}"></script>
		<script src="{{ url_for('static', filename='client.js') }}"></script>
	</head>
	<body>
		<div id="chats"></div>
		<div id="msgbox">
			<input type="text" id="msg"> <a id="send" class="button">Send</a>
		</div>
		<div id="help">
			/join - Join a channel<br />
			/help - Show this message
			
			<a id="close_help">Close</a>
		</div>
		<div id="login">
			<h1>Chat</h1>
			
			<input id="username" placeholder="Username" value="">
			<br />
			<input id="tb_channels" placeholder="Channels" value="##channel1">
			
			<p>
				<button class="button" id="connect">Connect</button>
			</p>
		</div>
		<div id="credit">
			Credit to rubenwardy
				|
			<a href="https://github.com/rubenwardy/rubenirc">GitHub</a>
		</div>
	</body>
</html>
